#header {
    background-color: rgba(0, 0, 0, 0.27);
    height: 50vh;
    border-bottom: 3px solid black;
    display: flex;
    padding: 2%;
    overflow: scroll;
}

#header__poster {
    display: inline-block;
    margin-right: 10px;
}

#header__info {
    color: #777;
    width: 70%;
    margin-left: 8%;
}

.header__info--name {
    font-size: 2.5em;
    color: #fff;
}

.header__info--description {
    font-size: 0.9em;
    padding: 5px 0;
    font-style: italic;
    letter-spacing: 0.3px;
    color: #bbb;
}

.header__info--season {
    /* width: 30%; */
}

.header__info--genre span{
    margin-right: 5px;
}

.header__info--genre span::after{
    content: ' -'
}

.header__info--genre span:last-of-type::after{
    content: ''
}

tr:nth-of-type(3n) td {
    display: inline-block;
    width: 30%;
}

.header__info--obs {
    display: none;
}

.header__info--othersSeasons{
    display: flex;
}

.header__info--othersSeasons li {
    list-style: disc;
    list-style-position: outside;
    margin-right: 25px;
    cursor: pointer;
}

.header__info--othersSeasons li:first-of-type {
    list-style: none;
}

.header__info--othersSeasons li:last-of-type {
    margin-right: 0;
}


tr {
    margin: 10px;
    display: block;
}


#catalog {
    margin: 4% 5%;
    display: flex;
    overflow-x: scroll;
}
.catalog__item {
    margin: 0 3px;
}
.catalog__item--picture {
    position: relative;
}

.catalog__item--name {
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    border-top: 1px solid;
    padding: 10px 3px;
}
