* {
    font-family: sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    background-color: rgba(0, 0, 0, 0.86);
    overflow: hidden;
}

#wrapper {
    margin-top: 65px;
}

.hidden {
    display: none !important;
}

img {
    height: 245px;
    width: 174px;
}
